body {
   margin: 0;
   font-family: Arial, Helvetica, sans-serif;
   background-color: #ffffff;
}
ul {
   list-style: none;
   margin: 0;
   padding: 0;
}
.header {
   min-width: 1200px;
   height: 550px;
   padding-top: 60px;
   background-image: url("img/wheat-back.jpg");
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}
.container-short {
   margin: 0 200px;
}
.container-long {
   margin: 0 90px;
   min-width: 1015px;
}
.header-top {
   display: flex;
   align-items: center;
   justify-content: space-between;
   }
.header-logo {
   width: 140px;
   height: 76px;
   margin-right: 60px;
}
.header-nav ul {
   display: flex;
   text-align: center;
}
.header-nav li {
   margin-right: 55px;
}
.header-nav a{
   font-size: 16px;
   font-weight: bold;
   text-transform: uppercase;
   text-decoration: none;
   color: #ffffff;
   padding: 5px;
}
.header-nav a:hover {
   color: #ffcb78;
}
.header-nav a:active {
   color: rgb(255, 203, 120, 0.3);
}
.header-title {
   display: flex;
   justify-content: center;
   text-align: center;
   font-size: 70px;
   line-height: 70px;
   font-weight: bold;
   color: #ffffff;
}
/* _______________________________________________________________________________________2 */
.title-text {
   color: rgb(0, 0, 0);
   text-transform: uppercase;
   font-size: 40px;
   font-weight: bold;
   margin: 0;
}
.new-products {
   min-width: 1200px;
   padding-top: 90px;
}
.new-products-items {
   padding-top: 100px;
   display: flex;
   justify-content: center;
}
.new-products-item {
   width: 400px;
   padding-left: 40px;
   border-right: 1px solid rgb(229, 229, 229);
}
.new-products-bottle {
   position: relative;
   margin-top: 40px;
}
.new-products-table {
   position: absolute;
   width: 150px;
   right: 30px;
   top: 0px;
}
.new-products-table table{
   border: 1px solid rgb(229, 229, 229);
   border-collapse: collapse;
}
.new-products-table td {
   border: 1px solid rgb(229, 229, 229);
   padding: 14px 8px;
   width: 60px;
   font-size: 16px;
   font-weight: bold;
}
.new-products-bottle img {
   padding-top: 10px;
}
.new-products-subscription {
   font-size: 16px;
   line-height: 30px;
   width: 340px;
}
.new-products-button {
   margin-top: 68px;
}
.new-products-button .btn:first-child {
   width: 145px;
   height: 50px;
   border: 2px solid #834700;
   padding: 16px 20px;
}
.new-products-button .btn:last-of-type {
   color: #ffffff;
   width: 110px;
   height: 50px;
   background-color: #834700;
   border: 2px solid #834700;
   padding: 16px 20px;
   margin-right: 25px;
}
.btn {
   color: #834700;
   font-size: 16px;
   line-height: 30px;
   font-weight: bold;
   text-transform: uppercase;
   text-decoration: none;
}
.new-products-button p {
   color: #000000;
   font-size: 16px;
   line-height: 20px;
   font-weight: bold;
}
/* -------------------------------------------------------------------------------------------------3 */
.advantages {
   margin-top: 100px;
   padding-top: 80px;
   padding-bottom: 95px;
   background-color: #ffcb78;
}
.advantage {
   display: flex;
   justify-content: space-between;
}
.advantage li {
   position: relative;
   width: 205px;
   margin-right: 200px;
   padding-top: 105px;
}
.advantage li:last-child {
   margin: 0px;
}
.advantage li::before {
   content: "";
   display: inline-block;
   position: absolute;
   width: 55px;
   height: 70px;
   top: 0px;
   left: 0px;
   background-repeat: no-repeat;
}
.advantage li:first-child::before {
   background-image: url("img/icon-brew.png");
}
.advantage li:nth-child(2)::before {
   background-image: url("img/icon-matreshka.png");
}
.advantage li:last-child::before {
   background-image: url("img/icon-thumbsup.png");
}
.advantage h2 {
   font-size: 20px;
   line-height: 30px;
   font-weight: bold;
   text-transform: uppercase;
}
/* -------------------------------------------------------------------------------------------------4 */
.products-history {
   margin-top: 95px;
   padding-bottom: 90px;
}
dd {
   margin: 0px;
}
.products-history h2{
   margin-bottom: 80px;
}
.products-history dt span{
   display: inline-block;
   font-size: 20px;
   line-height: 30px;
   font-weight: bold;
   text-transform: uppercase;
   margin-bottom: 5px;
}
.products-history dl {
   position: relative;
}
.products-history dd {
   display: flex;
}
.products-history img {
   position: absolute;
   right: 0px;
   top: 55px;
}
.products-history p {
   line-height: 200%;
   padding-right: 210px;
   padding-bottom: 30px;
}
.products-history i {
   position: absolute;
   right: 0px;
   top: 0px;
}
.products-history a {
   color: #834700;
}
/* -------------------------------------------------------------------------------------------------5 */
.reviews {
   position: relative;
   background-color: #ede5d8;
   padding: 90px 0px;
}
.reviews::before {
   content: "";
   display: inline-block;
   position: absolute;
   width: 50px;
   height: 35px;
   left: 90px;
   top: 50%;
   background-image: url("img/quotes.png");
   background-repeat: no-repeat;
}
.container-short {
   position: relative;
   min-width: 660px;
}
.reviews blockquote {
   padding-top: 55px;
   padding-right: 105px;
   margin: 0px;
   line-height: 200%;
}
.reviews cite {
   position: absolute;
   right: 0px;
   bottom: 0px;
   font-size: 20px;
   line-height: 30px;
   font-weight: bold;
   text-transform: uppercase;
   font-style: normal;
}
.btn {
   border: 2px solid #a5a097;
   padding: 15px 25px;
   color: rgb(167, 161, 152, 1);
}
/* -------------------------------------------------------------------------------------------------6 */
.price {
   padding-top: 100px;
   padding-bottom: 90px;
}
.price h2 {
   padding-bottom: 100px;
}
.price-list {
   min-width: 660px;
   border-collapse: collapse;
}
.price-list th {
   font-size: 11px;
   line-height: 30px;
   color: #999999;
   text-transform: uppercase;
   padding-bottom: 40px;
   text-align: left;
}
.price-list th:last-child {
   text-align: right;
}
.price-list td {
   font-size: 16px;
   line-height: 30px;
   color: #404040;
   text-transform: uppercase;
   font-weight: 400px;
   padding: 25px 0px;
   border-bottom: 1px solid #e5e5e5;
   border-top: 1px solid #e5e5e5;
}
.price-list td sup {
   display: inline-block;
   font-size: 8px;
   line-height: 15px;
   color: #ffffff;
   text-transform: uppercase;
   font-weight: bold;
   width: 49px;
   height: 13px;
   background-color: #000000;
   text-align: center;
   border-radius: 3px;
   margin-left: 25px;
}
.price-list .one {
   width: 400px;
   color: #000000;
   font-weight: bold;
}
.price-list .two {
   width: 95px;
}
.price-list .three {
   width: 60px;
}
.price-list .four {
   width: 185px;
}
.price-list .end {
   width: 60px;
   text-align: right;
}
/* -------------------------------------------------------------------------------------------------7 */
.feedback {
   background-color: #ffcb78;
   padding-top: 90px;
   padding-bottom: 110px;
   font-size: 16px;
   line-height: 30px;
   color: #000000;
   text-transform: uppercase;
   font-weight: bold;
}
.feedback h2 {
   padding-bottom: 95px;
}
.feedback p {
   font-size: 16px;
   line-height: 30px;
   color: #404040;
   min-width: 630px;
   font-weight: normal;
   text-transform: none;
}
.feedback-form {
   min-width: 630px;
}
.feedback-form-group input,
.feedback-form-group textarea {
   display: block;
   height: 50px;
   background-color: #e5b66c;
   border: none;
   font-size: 16px;
   font-size: 16px;
   line-height: 20px;
   color: rgb(0, 0, 0, 0.3);
   text-transform: uppercase;
   font-weight: bold;
   margin-bottom: 25px;
   width: 100%;
   box-sizing: border-box;
}
.feedback-form-group input:hover,
.feedback-form-group textarea:hover,
.down-list__select:hover,
.down-list__item:hover {
   background-color: #d9ad66;
}
.feedback-form-group input:focus,
.feedback-form-group textarea:focus,
.down-list__select:focus {
   background-color: #ffffff;
   color: #000000;
   outline: none;
}
.feedback-form-group .fullname {
   width: 100%;
}
.feedback-form label {
   display: block;
}
.feedback-form-group__conteiner {
   display: flex;
   justify-content: space-between;
}
.feedback-form-group__conteiner .feedback-form-group{
   flex-grow: 1;
}
.feedback-form-group__conteiner .phone-conteiner {
   margin-right: 50px;
}
.feedback-form-group__conteiner .phone,
.feedback-form-group__conteiner .extraphone {
   width: 100%;
}
.down-list__title {
   font-size: 16px;
   line-height: 0px;
   color: #000000;
   text-transform: uppercase;
   font-weight: bold;
   margin-top: 35px;
}
.down-list__select {
   position: relative;
   display: block;
   height: 50px;
   padding-left: 10px;
   background-color: #e5b66c;
   border: none;
   font-size: 16px;
   text-align: start;
   color: rgb(0, 0, 0, 0.3);
   text-transform: uppercase;
   font-weight: bold;
   width: 100%;
   cursor: pointer;
}
.down-list__select--active {
   background-color: #ffffff;
   color: #000000;
   outline: none;
}
.down-list__items {
   display: none;
   position: absolute;
   width: 100%;
   z-index: 1;
}
.down-list__item {
   display: block;
   box-sizing: border-box;
   height: 50px;
   padding-left: 10px;
   background-color: #e5b66c;
   border-bottom: 1px solid #e5e5e5;
   font-size: 16px;
   line-height: 50px;
   color: rgb(0, 0, 0, 0.3);
   text-transform: uppercase;
   font-weight: bold;
   width: 100%;
   cursor: pointer;
}
.down-list__items--active {
   display: block;
}
.down-list__item:first-child {
   border-top: 1px solid #e5e5e5;
}
.feedback-form-group .down-list__input {
   display: none;
}
.down-list {
   position: relative;
}
.down-list__arrow {
   position: absolute;
   width: 20px;
   height: 10px;
   right: 15px;
   top: 55%;
   background-image: url("img/select.png");
   background-repeat: no-repeat;
   background-position: center;
   transition: 0.5s ease transform;
   pointer-events: none;
}
.down-list__arrow--active {
   transform: rotate(180deg);
}
.feedback-form-group textarea {
   height: 80px;
}
.feedback-form-group .message {
   margin-top: 20px;
}
.checkbox-area {
   display: block;
   position: relative;
   height: 50px;
   border: none;
   margin-bottom: 25px;
}
.checkbox-area label {
   display: inline-block;
   padding-left: 45px;
   text-transform: uppercase;
   line-height: 60px;
}
.visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   clip: rect(0 0 0 0);
   overflow: hidden;
}
.checkbox:checked + .check-box {
   position: absolute;
   display: inline-block;
   left: 0;
   top: 0;
   width: 35px;
   height: 35px;
   background-color: #e5b66c;
   background-image: url("img/Check-box.png");
   background-repeat: no-repeat;
   background-position: center;
}
.check-box {
   position: absolute;
   display: inline-block;
   left: 0;
   top: 0;
   width: 35px;
   height: 35px;
   background-color: #e5b66c;
}
.feedback-form .btn {
   width: 240px;
   background-color: #834700;
   color: #ffffff;
   border: 1px solid #834700;
}
/* --------------------------------------------------------------------------------------------------------- 8 */
.footer {
   padding-top: 60px;
   padding-bottom: 45px;
   background-color: #000000;
}
.footer-top {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 45px;
   }
.footer-logo {
   width: 140px;
   height: 76px;
   margin-right: 125px;
}
.footer-nav ul {
   display: flex;
   text-align: center;
}
.footer-nav li {
   margin-right: 60px;
}
.footer-nav a{
   font-size: 16px;
   word-wrap: break-word;
   font-weight: bold;
   text-transform: uppercase;
   text-decoration: none;
   color: #ffffff;
}
.footer-bottom {
   display: flex;
   justify-content: space-between;
   font-size: 14px;
   line-height: 20px;
   color: #989898;
}
.footer-bottom p {
   margin-right: 70px;
}
.footer-social {
   display: flex;
}
.social-btn {
   display: inline-block;
   width: 70px;
   height: 70px;
   background-color: #1b1b1b;
   border: 1px solid #322d24;
}
.social-btn-in {
   background-image: url("img/icon-insta.png");
   background-repeat: no-repeat;
   background-position: center;
   border-right: none;
}
.social-btn-fb {
   background-image: url("img/icon-fb.png");
   background-repeat: no-repeat;
   background-position: center;
   border-right: none;
}
.social-btn-vk {
   background-image: url("img/icon-vk.png");
   background-repeat: no-repeat;
   background-position: center;
}
.footer-copyright {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.footer-img {
   position: relative;
   width: 70px;
   height: 70px;
   background-color: #1b1b1b;
   border: 1px solid #322d24;
   margin-right: 30px;
}
.footer-img img {
   position: absolute;
   top: 28%;
   left: 31%;
}
.footer-copyright a {
   margin-left: 4px;
   text-decoration: none;
   font-size: 14px;
   line-height: 20px;
   color: #989898;
   background-size: cover;
}